#containerCart{
	margin: 0 auto;
    color: black;
    width: 100%;
    height: 100%;
    overflow-y: auto;
	font-family: 'Mali', cursive;
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	display: block;
}

#yourCart{
	text-align: center;
	color: white;
	margin-top: 5%;
}

.nameColumn{
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 15%;
    border-radius: 10px;
    width: 70%;
    color: white;
    background: #3490cd;
    margim-bottom: 5px;
}

.containerProduct{
    margin-top: 15px;
    margin-left: 15%;
    border-radius: 10px;
    width: 70%;
    color: black;
    background: white;
    margim-bottom: 5px;
}

.containerProduct h1{
	font-size: 20px;
}

.product{
	display: block;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.cellCart{
	font-size: 20px;
	grid-column: span 3;
	text-align: center;
}

	
.cellCart.foto{
	display: block;
}
	
.cellCart.nome{
	display: block;
}
	
.cellCart.prezzo{
	display: block;
}
	
.cellCart.divTableHead{
	display: block;
}
	
.photo img{
	width: 100px;
    height: auto;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 5px;
}

.title{
	margin: 15px;
    text-align: center;
}

.price{
	text-align: center;
	margin: 15px;
}

.removeProduct{
	font-size: 30px;
	color: red; 
	margin: 15px;
	cursor: pointer;
}

.removeProduct i {
	pointer-events: none;
}

.priceTotal{
	position: relative;
    left: 65%;
    font-size: 20px;
    margin: 5px;
    display: inline;
    color: white;
}

.divTableHead{
	display: inline;
	color: red;
	cursor: pointer;
	font-weight: bold;
}

#accedi{
	text-align: center;
	font-weight: bold;
	color: white;
}

#access{
	width: 150px;
}

.paypalCheckOut{
	width: 500px;
    margin: 20px auto;
}

#noProduct{
	text-align: center;
	color: white;
}

#buyNow{
	display: block;
	width: 30%;
	margin: 15px auto;
    font-size: 20px;
    cursor: pointer;
}

#emptyCart{
	display: none;
}

#immagineCarrelloVuoto{
	display: block;
	width: 20%;
    margin: 10px auto;
}

.sfondoMessaggioAcquisto {
    display: none;
    position: absolute;
    z-index: 999;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sweet-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    padding: 10px 30px;
    animation: animation .4s;
}

.sweet-alert i {
    display: block;
    width: 100%;
    margin: 15px 0;

    text-align: center;
    font-size: 100px;
    color: #4CAF50;
}

.sweet-alert p {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
}

.sweet-alert .button {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px 15px;

    border-radius: 5px;
    background: #13364D;

    text-align: center;
    color: white;

    transition: all .4s;
}

.sweet-alert .button:hover {
    cursor: pointer;
    background: #3490cd;
}

@keyframes animation {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }

    75% {
        transform: scale(1.2) translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@media screen and (max-width: 425px){
	#immagineCarrelloVuoto{
		width: 40%;
	    margin-top: 10px;
	}
	
	#buyNow{
		width: 80%;
	}
}

@media screen and (max-width: 768px){
	#containerCart{
		background: white;
	}
	
	.cellCart.foto{
		display: none;
	}
	
	.cellCart.photo{
		display: none;
	}
	
	.nameColumn{
	    margin-left: 0;
	    width: 100% !important;
	}
	
	.cellCart{
		grid-column: span 12;
	}
	
	.cellCart.foto{
		display: none !important;
	}
	
	.cellCart.nome{
		display: none !important;
	}
	
	.cellCart.prezzo{
		display: none !important;
	}
	
	.cellCart.divTableHead{
		display: none !important;
	}
	
	.containerProduct{
	    margin-top: 0;
	    margin-left:0;
	    margin-bottom: 0;
	    width: 100% !important;
	}
	
	#yourCart{
		color: black;
	}
	
	.priceTotal{
		color: black !important;
		left: 20% !important;
	}
	
	.paypalCheckOut{
		width: 300px;
	    height: 300px;
	    margin: 0 auto;
	    margin-top: 10px;
	}
	
	#noProduct{
		color: black;
	}
}